<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="portfolio-page">
    <div class="portfolio-container">
      {% include site-header.html %}
      
      <main>
        {{ content }}
      </main>

      <footer class="portfolio-footer">
        <div class="portfolio-footer-links">
          <a href="https://linkedin.com/in/productandcoffee">LinkedIn</a>
          <a href="https://github.com/ProductAndCoffee">GitHub</a>
        </div>
      </footer>
    </div>
    <script src="{{ '/public/js/portfolio.js' | relative_url }}"></script>
  </body>
</html>